<div class="dashboard">

    <!-- bg gradient -->
    <img src="../../../assets/images/bg-img.png" alt="bg-img" class="bg-img">

    <div class="dashboard-header">
        <hr class="center-line">
        <div class="left">
            <h1 class="title">Dashboard</h1>
            <div class="description-container">
                <h3 class="description">Edit, update and protect your people list with ease.</h3>
                <h3 class="description">Keep your data up to date.</h3>
            </div>
        </div>
        <div class="right">
            <img src="../../../assets/images/people.png" alt="people" class="people-image">
        </div>
    </div>

    <div class="dashboard-content">
        <div class="card">
            <img src="../../../assets/images/card-image.png" alt="" class="card-image">
            <h3 class="title">Sample 1</h3>
            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <hr class="line"/>
        </div>
        <div class="card">
            <img src="../../../assets/images/card-image.png" alt="" class="card-image">
            <h3 class="title">Sample 2</h3>
            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <hr class="line"/>
        </div>
        <div class="card">
            <img src="../../../assets/images/card-image.png" alt="" class="card-image">
            <h3 class="title">Sample 3</h3>
            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <hr class="line"/>
        </div>
        <div class="card">
            <img src="../../../assets/images/card-image.png" alt="" class="card-image">
            <h3 class="title">Sample 4</h3>
            <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <hr class="line"/>
        </div>
    </div>

</div>