<div class="navbar-mobile-section">
    <div class="nav-section">
        <div class="main-link-container">
            <a href="" class="main-link">Dashboard</a>
            <hr class="line"/>
        </div>
    </div>
    <div class="nav-section">
        <h3 class="title">Manage People</h3>
        <div class="link-container">
            <div class="link-sub-container">
                <a href="" class="sub-link">Add People</a>
                <hr class="line"/>
            </div>
            <div class="link-sub-container">
                <a href="" class="sub-link">Import People</a>
                <hr class="line"/>
            </div>
            <div class="link-sub-container">
                <a href="" class="sub-link">View People</a>
                <hr class="line"/>
            </div>
        </div>
    </div>
    <div class="nav-section">
        <h3 class="title">Manage Admin</h3>
        <div class="link-container">
            <div class="link-sub-container">
                <a href="" class="sub-link">Add Admin</a>
                <hr class="line"/>
            </div>
            <div class="link-sub-container">
                <a href="" class="sub-link">View Admin</a>
                <hr class="line"/>
            </div>
        </div>
    </div>
    <img src="../../../assets/icons/close.png" alt="close-logo" class="close-logo">
</div>